/* font import */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
:root {
  --blue: #3c6382;
  --dark-blue: #0a3d62;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background: #eff6fe;
}

section {
  width: 87vw;
  margin: 0 auto;
  scroll-margin-top: 1.5em;
}

section h1 {
  text-align: center;
  padding: 2rem 0;
  color: var(--dark-blue);
  letter-spacing: 2px;
}

.scrolling-nav {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 50px;
}

.scrolling-nav .navbar a {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px !important;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eff6fe;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header a {
  text-decoration: none;
  color: #272727;
  letter-spacing: 1.5px;
}

header .logo a {
  color: var(--dark-blue);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
}

header .logo a i {
  color: #833535;
}

header .navbar a.active {
  background: var(--dark-blue);
  color: #fff;
}

header .navbar a {
  text-transform: capitalize;
  font-size: 19px;
  padding: 4px 0.4rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-radius: 4px;
  background: transparent;
  color: var(--blue);
}

header .navbar a:hover {
  background: var(--dark-blue);
  color: #fff;
}

#home {
  height: calc(100vh - 60px);
  background: url("./images/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scroll-margin-top: 20em;
}

#home .content {
  text-align: center;
  padding-top: 2rem;
}

#home .content h1 {
  font-size: 48px;
  letter-spacing: 1px;
  margin: 10px 0;
  color: var(--dark-blue);
}

#home .content h2 {
  color: var(--blue);
  letter-spacing: 1px;
  margin: 5px 0 10px;
}

#home .content button {
  margin-top: 0.5rem;
  padding: 7px;
  border: none;
  border-radius: 3px;
  background: var(--blue);
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#home .content button:hover {
  background: var(--dark-blue);
}

#prevent {
  padding: 1rem 0;
}

#prevent .prevent-content {
  width: 87vw;
  margin: auto;
}

#prevent .prevent-content .first-row,
#prevent .prevent-content .second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.5rem;
}

#prevent .prevent-content .card {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
  width: 30%;
  padding: 1rem;
}

#prevent .prevent-content .card .img {
  width: 150px;
  margin: auto;
}

#prevent .prevent-content .card .img img {
  width: 100%;
}

#prevent .prevent-content .card h3 {
  margin: 0.5rem 0;
  letter-spacing: 1px;
  color: var(--dark-blue);
  text-transform: capitalize;
}

#prevent .prevent-content .card p {
  letter-spacing: 0.5px;
}

#prevent .prevent-content .card:hover {
  -webkit-box-shadow: 5px 5px 10px #b4b3b3, -1px 0px 8px #b4b3b3;
          box-shadow: 5px 5px 10px #b4b3b3, -1px 0px 8px #b4b3b3;
}

#symptoms {
  height: 700px;
  margin: 0 auto;
}

#symptoms .symptoms-content {
  width: 100%;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#symptoms .main-img {
  width: 20vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#symptoms .main-img img {
  width: 320px;
  height: 100%;
}

#symptoms .side-img {
  width: calc(87vw - 20vw);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#symptoms .side-img .symptoms-imgs {
  height: 200px;
}

#symptoms .side-img .symptoms-imgs h3 {
  line-height: 30px;
  color: var(--blue);
  margin: 0.5rem 0 0 1rem;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 20px;
}

#symptoms .side-img .symptoms-img {
  width: 180px;
  margin: 0 1rem;
}

#precautions .precautions-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#precautions .precautions-content h4 {
  color: var(--blue);
  letter-spacing: 1.5px;
  font-size: 20px;
}

#precautions .precautions-content p {
  font-size: 13px;
  line-height: 1rem;
  margin: 0.5rem 0;
}

#precautions .precautions-content .left-container {
  width: 48%;
  margin: 2%;
  -webkit-box-shadow: 4px 4px 10px #807e7e;
          box-shadow: 4px 4px 10px #807e7e;
}

#precautions .precautions-content .right-container {
  width: 48%;
  margin: 2%;
  -webkit-box-shadow: 4px 4px 10px #807e7e;
          box-shadow: 4px 4px 10px #807e7e;
}

#precautions .precautions-content .left-header {
  text-align: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--blue);
  color: #f1eded;
  letter-spacing: 2px;
}

#precautions .precautions-content .right-header {
  text-align: center;
  width: 100%;
  padding: 1rem;
  background-color: #c42d2d;
  color: #e6e4e4;
  letter-spacing: 2px;
}

#precautions .precautions-content .left-info {
  padding: 1rem;
  height: 140px;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#precautions .precautions-content .left-img {
  width: 125px;
  margin-right: 5px;
}

#precautions .precautions-content .left-img img {
  width: 125px;
}

#precautions .precautions-content .right-img {
  width: 125px;
  margin-right: 5px;
}

#precautions .precautions-content .right-img img {
  width: 125px;
}

#precautions .precautions-content .right-info {
  padding: 1rem;
  height: 140px;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#doctor {
  height: 700px;
}

#doctor .doc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#doctor .doc-card {
  width: 350px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 10px #cfcece;
          box-shadow: 4px 4px 10px #cfcece;
  margin: 1rem;
}

#doctor .doc-card .doc-img {
  width: 270px;
  height: 240px;
  margin: auto;
  background-color: var(--dark-blue);
  -webkit-clip-path: circle();
          clip-path: circle();
}

#doctor .doc-card .doc-img img {
  width: 100%;
  height: 100%;
}

#doctor .doc-card .doc-info {
  width: 300px;
  margin: 1rem auto;
  text-align: center;
}

#doctor .doc-card .doc-info h2 {
  color: var(--blue);
  letter-spacing: 1px;
  margin: 0.2rem 0;
}

#doctor .doc-card .doc-info h6 {
  color: var(--blue);
  margin-bottom: 0.5rem;
}

#doctor .doc-card .doc-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#doctor .doc-card .doc-icon a {
  position: relative;
  text-decoration: none;
  color: black;
  background-color: #ddd;
  padding: 1rem;
  -webkit-clip-path: circle();
          clip-path: circle();
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#doctor .doc-card .doc-icon a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--blue);
  left: 0;
  bottom: -52px;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10% 20px;
}

#doctor .doc-card .doc-icon a i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 19px;
  color: var(--blue);
}

#doctor .doc-card .doc-icon a:hover::after {
  bottom: 0;
  background-color: var(--blue);
  color: #fff;
  z-index: -1;
}

#doctor .doc-card .doc-icon a:hover i {
  color: #fff;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#hand-wash {
  height: 650px;
}

#hand-wash .wash-container {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hand-wash .wash-container .wash-side-img {
  text-align: center;
  width: calc(87vw - 20vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hand-wash .wash-container .wash-side-img img {
  width: 165px;
  margin: 0 3rem;
}

#hand-wash .wash-container .wash-side-img .wash-imgs h3 {
  color: var(--blue);
  padding: 1rem 0;
}

#hand-wash .wash-container .wash-main-img {
  width: 20vw;
}

#hand-wash .wash-container .wash-main-img img {
  width: 90%;
}

#footer #footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer #footer-container .about, #footer #footer-container .location, #footer #footer-container .links, #footer #footer-container .follow {
  width: 350px;
  list-style: none;
  margin-bottom: 1rem;
}

#footer #footer-container .about p, #footer #footer-container .location p, #footer #footer-container .links p, #footer #footer-container .follow p {
  color: #776d6d;
}

#footer #footer-container .about a, #footer #footer-container .location a, #footer #footer-container .links a, #footer #footer-container .follow a {
  text-decoration: none;
  color: var(--blue) !important;
  text-transform: capitalize;
}

#footer #footer-container .about a:hover, #footer #footer-container .location a:hover, #footer #footer-container .links a:hover, #footer #footer-container .follow a:hover {
  text-decoration: underline;
}

#footer #footer-container .about li, #footer #footer-container .location li, #footer #footer-container .links li, #footer #footer-container .follow li {
  width: 35%;
  margin: 0.5rem auto;
}

footer {
  width: 100%;
  background: #f1efef;
  padding: 1rem;
  text-align: center;
}

footer h3 {
  letter-spacing: 2px;
}

footer h3 a {
  text-decoration: none;
}

footer h3 a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */